body{
    background-color: #000;
}
.icono{
    width: 65px;
    height: 65px;
    margin: 15px;
}
.logo{
    width: 200px;
    padding: 10px;
}
.text-menu{
    padding: 20px;
    font-size: 30px;

}
.text-parrafo{
    font-size: 22px;
    font-style: italic;
    padding: 50px;
    letter-spacing: 2px;
}
.parrafo{

}

.cursor-pointer{
    cursor: pointer;
    text-decoration-line: underline;
}

.liga{
    border-bottom: 1px solid;
    cursor: pointer;
}


.mover{
    width: 30px;
    z-index: 1000000000;
}

.cursor{
    cursor: pointer;
    width: 30px;
}

.logo-modal .logo{
    width: 150px;
    padding: 2px;
}